<div class="row">
  <div class="btn-group" mdbDropdown>
    <button
      mdbDropdownToggle
      type="button"
      mdbBtn
      color="primary"
      class="dropdown-toggle waves-light"
      mdbWavesEffect
    >
      Categories
    </button>

    <div class="dropdown-menu dropdown-primary">
      <mdb-checkbox
        class="dropdown-item"
        *ngFor="let category of categories"
        (change)="categoryChange($event)"
        [value]="category.key"
        >{{ category.categoryName }}</mdb-checkbox
      >
    </div>
  </div>

  <div>
    <div class="btn-group" mdbDropdown>
      <button
        mdbDropdownToggle
        type="button"
        mdbBtn
        color="primary"
        class="dropdown-toggle waves-light"
        mdbWavesEffect
      >
        Brands
      </button>
      <div class="dropdown-menu dropdown-primary">
        <mdb-checkbox
          class="dropdown-item"
          *ngFor="let brand of brandsToShow"
          (change)="brandChange($event)"
          [value]="brand.key"
          [checked]="checkBrand(brand.key)"
          >{{ brand.brandName }}</mdb-checkbox
        >
      </div>
    </div>
  </div>

  <div class="btn-group">
    <label
      mdbBtn
      color="primary"
      [(ngModel)]="orderBy"
      mdbRadio="asc"
      mdbWavesEffect
    >
      Low to High
    </label>
    <label
      mdbBtn
      color="primary"
      [(ngModel)]="orderBy"
      mdbRadio="des"
      mdbWavesEffect
    >
      High to Low
    </label>
  </div>

  <div>
    <button class="btn btn-info" (click)="applyFilter()">Apply</button>
  </div>
</div>
