<div class="container">
    <h3 class="mt-4 mb-4 font-weight-bold">Gifts List</h3>
<!-- Table with panel -->
<div class="card card-cascade narrower">

    <div class="px-4">

      <div class="table-wrapper">
        <!--Table-->
        <table class="table table-hover mb-0">

          <!--Table head-->
          <thead>
            <tr>
              <th class="th-lg"><a href="">User Image</a></th>
              <th class="th-lg"><a href="">User email</a></th>
              <th class="th-lg"><a href="">User name</a></th>
              <th class="th-lg"><a href="">User Points</a></th>
              <th class="th-lg"><a href="">Favorite Counts</a></th>
              <th class="th-lg"><a href="">Actions</a></th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr *ngFor="let user of users$ | async">
                <td><img src="{{user.imageLink}}" class="img-rounded" alt="{{user.userName}}" style="height: 50px"></td>
                <td>{{user.email}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.points}}</td>
                <td>{{user.favoriteGifts?.length}}</td>
                <td>
                    <button class="btn btn-primary" (click)="gotoUserProfile()">View</button>
                    <button class="btn btn-danger" (click)="blockUser()">Block</button>
                </td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>

    </div>

  </div>
  <!-- Table with panel -->
</div>
