<hr>
<div class="container mt-4">
<div class="row custom-filter">
  <div class="col-2"><h6 class="filter-heading">Filters:</h6></div>
  <div class="col-2"><div class="btn-group" mdbDropdown>
      <h6 mdbDropdownToggle class="dropdown-toggle-text">Brands <i class="ml-1 fas fa-caret-down"></i></h6>
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" *ngFor="let brand of brands$ | async | brandFilter:category" (click)="changeBrand(brand.brandName)">{{ brand.brandName }}</a>    </div>
  </div>
  <div *ngIf="brandValueArray.length"><h6 *ngFor="let brandValue of brandValueArray" class="filter-badge">{{ brandValue }} <i class=" ml-1 fas fa-times close-icon" (click)="resetBrandValue(brandValue)"></i></h6></div>
  </div>
  <div class="col-2"><div class="btn-group" mdbDropdown>
      <h6 mdbDropdownToggle class="dropdown-toggle-text">Points <i class="ml-1 fas fa-caret-down"></i></h6>
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" (click)="changePoints(1000)">Under 1000</a>
        <a class="dropdown-item" (click)="changePoints(2000)">Under 2000</a>
        <a class="dropdown-item" (click)="changePoints(3000)">Under 3000</a>
      </div>
    </div>
    <div *ngIf="pointsValue !== 0"><h6 class="filter-badge">< {{ pointsValue }} <i class=" ml-1 fas fa-times close-icon" (click)="resetPointsValue()"></i></h6></div>
  </div>
  <div class="col-1"></div>
  <div class="col-2 ml-4 pl-4">Sort By:</div>
  <div class="col-2"><div class="btn-group" mdbDropdown>
      <h6 mdbDropdownToggle class="dropdown-toggle-text">Options <i class="ml-1 fas fa-caret-down"></i></h6>
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" (click)="changeSortParam('rating')" >Rating</a>
        <a class="dropdown-item" (click)="changeSortParam('cost')">Points</a>
      </div>
    </div>
    <div *ngIf="sortParamValue">
        <h6 class="filter-badge">{{ sortParamValue }} <i class="ml-1 fas fa-times close-icon" (click)="resetSortParamValue()"></i></h6>
    </div>
</div>
