<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-4">
            <mdb-card class="testimonial-card">
                <!--Bacground color-->
                <div class="card-up indigo lighten-1"></div>

                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img
                        [src]="user.imageLink"
                        class="rounded-circle img"
                        alt=""
                    />
                </div>

                <mdb-card-body class="text-center">
                    <!--Name-->
                    <mdb-card-title>
                        <h4>{{ user.userName }}</h4>
                    </mdb-card-title>
                    <hr />
                    <!--Quotation-->
                    <p><em class="fas fa-envelope"></em> {{ user.email }}</p>
                </mdb-card-body>
            </mdb-card>
        </div>
        <!--Grid column-->

        <div class="col-md-8">
            <div>
                <mdb-card>
                    <div class="text-center">
                        <h4>You have</h4>

                        <p class="points" *ngIf="user.points">
                            {{ user.points?.toLocaleString() }} pts
                        </p>
                        <p class="points" *ngIf="!user.points">0 pts</p>
                    </div>
                </mdb-card>
            </div>
<div class="container justify-content-center">
            <div class="row">
                    <div class="col-md-3">
                            <div [routerLink]="['/user/orders']" class="card-counter success">
                              <i class="fa fa-database"></i>
                              <span class="count-numbers font-weight-bold" >Orders</span>
                              <span class="count-name"></span>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div (click)="addPoints()" class="card-counter info">
                              <i class="fa fa-users"></i>
                              <span class="count-numbers font-weight-bold" >Add Points</span>
                              <span class="count-name"></span>
                            </div>
                          </div>

            </div>
        </div>
            <hr>

            <div *ngIf="user.favoriteGifts">
                <h3 class="font-weight-bold mt-4 mb-4">Your Favorites</h3>

                <div class="row">
                    <div
                        *ngFor="let gift of user.favoriteGifts"
                        class="col-md-4"
                    >
                        <app-gift-card
                            [isFavorite]="true"
                            [gift]="gift"
                        ></app-gift-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Grid row-->
</div>
