<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-4">
            <mdb-card class="testimonial-card">
                <!--Bacground color-->
                <div class="card-up indigo lighten-1"></div>

                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img
                        [src]="user.imageLink"
                        class="rounded-circle img"
                        alt=""
                    />
                </div>

                <mdb-card-body class="text-center">
                    <!--Name-->
                    <mdb-card-title>
                        <h4>{{ user.userName }}</h4>
                    </mdb-card-title>
                    <hr />
                    <!--Quotation-->
                    <p><em class="fas fa-envelope"></em> {{ user.email }}</p>
                </mdb-card-body>
            </mdb-card>
        </div>
        <!--Grid column-->

        <div class="col-md-8">
            <div>
                <mdb-card>
                    <div class="text-center">
                        <h4>You have</h4>

                        <p class="points" *ngIf="user.points">{{ user.points?.toLocaleString() }} pts</p>
                        <p class="points" *ngIf="!user.points">0 pts</p>
                    </div>
                </mdb-card>
            </div>

            <div class="row">
                <button class="btn btn-info" [routerLink]="['/user/orders']">
                    goto Orders
                </button>
                <button class="btn btn-info" [routerLink]="['/user/orders']">
                    goto my favorites
                </button>
                <button class="btn btn-info" (click)="addPoints()">
                    Add points
                </button>
            </div>

            <div *ngIf="user.favoriteGifts">
                <h3>Your Favorites</h3>

                <div class="row">
                    <div
                        *ngFor="let gift of user.favoriteGifts"
                        class="col-md-4"
                    >
                        <app-gift-card [gift]="gift"></app-gift-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Grid row-->
</div>
