<div class="card">
  <div class="container-fliud">
    <div class="wrapper row">

      <div class="preview col-md-6">
        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1"><img src="{{gift.imageLink}}" alt="{{gift.giftName}}"/></div>
        </div>
      </div>

      <div class="details col-md-6">
        <h3 class="product-title">{{gift.giftName}}</h3>
        <div class="rating">

          <app-rating [rating]="gift.rating" [viewOnly]="true"></app-rating>

          <div class="clearfix"></div>
          <span class="review-no" *ngIf="gift.reviews">{{gift.reviews.length}} reviews</span>
          <span class="review-no" *ngIf="!gift.reviews">0 reviews</span>
        </div>
        <p class="product-description">{{gift.description}}</p>
        <h4 class="price">Points: <span>{{gift.cost}}</span></h4>
        <p class="product-description"><strong>Brand</strong>: {{gift.brandName}}</p>
        <p class="product-description"><strong>Category</strong>: {{gift.categoryName}}</p>
        <div class="action">
          <button class="add-to-cart btn btn-default" type="button"><i class="fa fa-gift-card"></i> Send Card </button>
          <button class="like btn btn-default" type="button"><i class="fa fa-heart"></i></button>
          <span *ngIf="giftMessage" class="ml-5 text-right">{{giftMessage}}</span>
        </div>
        <div class="row">

          <!-- Default form send card -->
          <form class="text-center border border-light p-3" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" name="form" style="width: 90%">

              <p class="h4">Send Card To</p>

              <!-- Name -->
              <div class="form-group">
                <input type="text"
                  #name="ngModel"
                  class="form-control mb-4"
                  name="name"
                  [(ngModel)]="model.name"
                  [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                  placeholder="Name"
                  required />
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name?.errors.required">First Name is required</div>
                </div>
              </div>

              <!-- Email -->
              <div class="form-group">
                <input type="text"
                  #email="ngModel"
                  class="form-control mb-4"
                  name="email"
                  [(ngModel)]="model.email"
                  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                  placeholder="Email"
                  required
                  email />
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email?.errors.required">Email is required</div>
                    <div *ngIf="email?.errors.email">Email must be a valid email address</div>
                </div>
              </div>

              <!-- Message -->
              <div class="form-group mb-4">
                  <textarea
                    #messege="ngModel"
                    class="form-control rounded-0"
                    name="messege" rows="3"
                    placeholder="Message"
                    [(ngModel)]="model.messege"></textarea>
              </div>

              <!-- Send button -->
              <div class="d-flex flex-row justify-content-between">
                  <button class="btn btn-info btn-block col-4" type="submit">Send</button>
                  <button class="btn btn-info btn-block col-4" type="button" (click)="cancelSendGift()">Cancel</button>
              </div>


          </form>
          <!-- Default form send card -->
        </div>
      </div>

      <ul class="list-unstyled mt-5" *ngIf="gift.reviews">
        <li *ngFor="let review of gift.reviews">
          <app-gift-review [review]="review"></app-gift-review>
        </li>
      </ul>

    </div>
  </div>
</div>
