<!-- Footer -->
<footer class="page-footer font-small blue pt-4" *ngIf="translation$ | async as translation">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">{{ 'yoyoGifts' | translate: translation }}</h5>
          <p>{{ 'yoyoGiftsDesc' | translate: translation }}</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h4 class="text"><u>{{ 'aboutLinks' | translate: translation }}</u></h4>

            <ul class="list-unstyled">
              <li><a href="/contact-us">{{ 'aboutUs' | translate: translation }}</a></li>
              <li><a href="/about-us">{{ 'contactUs' | translate: translation }}</a></li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h4 class="text-uppercase"><u>{{ 'pageLinks' | translate: translation }}</u></h4>

            <ul class="list-unstyled">
              <li><a href="/home">{{ 'homeLink' | translate: translation }}</a></li>
              <li><a href="/gifts">{{ 'listLink' | translate: translation }}</a></li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© {{ 'yoyoCopyrights' | translate: translation }} <a href="#">{{ 'yoyoGifts' | translate: translation }}</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
