<div class="offset-md-3 col-md-6">
  <!-- Default form login -->
  <form
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit(signInForm)"
    class="text-center border border-light p-5"
  >
    <p class="h4 mb-4">Sign in</p>

    <div class="form-row mb-4" *ngIf="isRegistered">
      <div class="col">
        <!-- First name -->
        <input
          type="text"
          id="defaultRegisterFormFirstName"
          class="form-control"
          placeholder="First name*"
          formControlName="firstName"
        />
        <div>
          <p
            *ngIf="
              signInForm.get('firstName').hasError('required') &&
              signInForm.get('firstName').touched
            "
            class="red-text"
          >
            First name is a required field.
          </p>
        </div>
      </div>
      <div class="col">
        <!-- Last name -->
        <input
          type="text"
          id="defaultRegisterFormLastName"
          class="form-control"
          placeholder="Last name"
          formControlName="lastName"
        />
      </div>
    </div>

    <!-- Email -->
    <input
      type="email"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
      placeholder="E-mail*"
      formControlName="email"
    />
    <div>
      <p
        *ngIf="
          (signInForm.get('email').hasError('required') ||
            signInForm.get('email').hasError('email')) &&
          signInForm.get('email').touched
        "
        class="red-text"
      >
        Valid Email is required.
      </p>
    </div>
    <!-- Password -->
    <input
      type="password"
      id="defaultLoginFormPassword"
      class="form-control mb-4"
      placeholder="Password*"
      formControlName="password"
    />
    <div>
      <p
        *ngIf="
          (signInForm.get('password').hasError('required') ||
            signInForm.get('password').hasError('minlength') ||
            signInForm.get('password').hasError('maxlength')) &&
          signInForm.get('password').touched
        "
        class="red-text"
      >
        Password is required field with 6 - 10 characters.
      </p>
    </div>
    <!-- Sign in button -->
    <button
      class="btn btn-info btn-block my-4"
      [disabled]="signInForm.invalid"
      type="submit"
    >
      Sign in
    </button>

    <!-- Register -->
    <p *ngIf="!isRegistered">
      Not a member?
      <a class="light-blue-text" (click)="toggleRegister()">Register</a>
    </p>
    <p *ngIf="isRegistered">
      Already a member?
      <a class="light-blue-text" (click)="toggleRegister()">Login</a>
    </p>

    <!-- Social login -->
    <p>or sign in with:</p>

    <a type="button" class="light-blue-text mx-2" (click)="signInWithGoogle()">
      <em class="fab fa-google-plus-g"></em>
    </a>
  </form>
  <!-- Default form login -->
</div>
