<div *ngIf="noData">
  <h5><strong class="font-weight-bold">You haven't sent any gifts till now. Goto <span class="red-custom" [routerLink]="['/gifts']">Gifts</span> to send gifts.</strong></h5>
</div>

<div *ngIf="!noData">
  <div class="col-md-12 sent-gift" *ngFor="let gift of sentGifts">
    <div class="row">
      <div class="col-md-8">
          <p><strong class="font-weight-bold mr-4"> {{ gift.giftName }} to {{ gift.recieverName }}.</strong></p>
      </div>
      <div class="col-md-2">
          <img class="img-responsive" [routerLink]="['/gifts/details/', gift.key]" src="{{ gift.imageLink }}" alt="">
      </div>
      <div class=" date col-md-2">
          <strong class="font-weight-bold mt-4">{{ formatDate(gift.sentOn) }}</strong>
      </div>
    </div>
    <hr>
  </div>
</div>
