<mdb-carousel [isControls]="false" [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://www.giftcart.com/pub/media/allbanners/HPDMAY03.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://static.vecteezy.com/system/resources/previews/000/186/328/non_2x/discount-banner-design-voucher-template-vector.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg8NapjxiJnCDxKIAu_J4fZ5BMv0AHntRHesBYjXjcf8Dp_8hxjw" alt="Third slide">
    </mdb-carousel-item>
</mdb-carousel>
<div class="container-custom" *ngIf="translation$ | async as translation">
  <app-gift-section [gifts]="highRatedSection" [heading]="'mostRatedProducts' | translate: translation"></app-gift-section>
  <app-gift-section [gifts]="newSection" [heading]="'recentGifts' | translate: translation" ></app-gift-section>
  <app-gift-section [gifts]="newSection" [heading]="'popularGifts' | translate: translation" ></app-gift-section>

  <!--Section: Features v.1-->
<section class="text-center mb-4 mt-4">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold">{{'whyChooseYoyo' | translate: translation}}</h2>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-4">
        <i class="fas fa-paper-plane fa-3x red-text"></i>
        <h5 class="font-weight-bold mt-3">{{ 'instantDelivery' | translate: translation }}</h5>
        <p class="grey-text">{{ 'instantDeliveryDesc' | translate: translation }}</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">
        <i class="fas fa-book fa-3x red-text"></i>
        <h5 class="font-weight-bold mt-3">{{ 'qualityProducts' | translate: translation }}</h5>
        <p class="grey-text">{{ 'qualityProductsDesc' | translate: translation }}</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">
        <i class="far fa-comments fa-3x red-text"></i>
        <h5 class="font-weight-bold mt-3">{{ 'support' | translate: translation }}</h5>
        <p class="grey-text">{{ 'supportDesc' | translate: translation }}</p>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Features v.1-->
</div>
