<div class="order-container">
<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a [ngClass]="{ 'nav-item': true, 'nav-link': true, active: selectedTab }" id="sent-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      (click)="tabClick(0)"><strong>Sent Gifts</strong> </a>
      <a [ngClass]="{ 'nav-item': true, 'nav-link': true, active: !selectedTab }" id="recieved-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
      (click)="tabClick(1)"><strong>Received Gifts</strong></a>

    </div>
  </nav>
<div class="tab-content" id="myTabContent">
  <div
    [ngClass]="{ 'tab-pane fade': true, 'show active': selectedTab }"
    id="sent"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    <app-sent-gifts [orders]="orders"></app-sent-gifts>
  </div>
  <div
    [ngClass]="{ 'tab-pane fade': true, 'show active': !selectedTab }"
    id="recieved"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <app-recieved-gifts [orders]="orders"></app-recieved-gifts>
  </div>
</div>
</div>
