                       <div class="container">
                            <h3 class="font-weight-bold mt-4 mb-4">Admin Dashboard</h3>

                       <div class="row">
                        <div class="col-md-3">
                          <div class="card-counter primary">
                            <i class="fa fa-heart"></i>
                            <span class="count-numbers">{{ totalFavCount }}</span>
                            <span class="count-name">Gifts in Favorites</span>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div routerLink="/gifts" class="card-counter danger">
                            <i class="fa fa-gift"></i>
                            <span class="count-numbers">Go to Gifts</span>
                            <span class="count-name"></span>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div (click) = "toggleLists('gifts')" class="card-counter success">
                            <i class="fa fa-database"></i>
                            <span class="count-numbers" >{{ (gifts$ | async).length}}</span>
                            <span class="count-name">Gifts</span>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div (click) = "toggleLists('users')" class="card-counter info">
                            <i class="fa fa-users"></i>
                            <span class="count-numbers" >{{ users.length}}</span>
                            <span class="count-name">Users</span>
                          </div>
                        </div>
                      </div>
                    </div>


<!-- dashboard components -->
<app-admin-gift-list *ngIf="giftsList"></app-admin-gift-list>
<app-admin-user-list *ngIf="usersList"></app-admin-user-list>



