<!-- Search form -->
  <!-- <i class="fas fa-search" aria-hidden="true" (click)="emitSearchValue()"></i>
  <input class="form-control form-control-sm ml-3 w-75" [(ngModel)]="searchValue" type="text" placeholder="Search" aria-label="Search"
    mdbInput>
<hr> -->

<div class="row justify-content-center" *ngIf="translation$ | async as translation">
  <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                  <i class="fas fa-search"></i>
              </div>
              <!--end of col-->
              <div class="col">
                  <input  [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" class="form-control form-control-lg form-control-borderless" type="search" placeholder="{{'searchForGifts' | translate: translation}}">
              </div>
              <!--end of col-->
              <div class="col-auto">
                  <button class="btn btn-lg btn-success" (click)="emitSearchValue()">{{'searchBtn' | translate: translation}}</button>
              </div>
              <!--end of col-->
          </div>
      </form>
  </div>
  <!--end of col-->
</div>
