<div class="row justify-content-center" *ngIf="translation$ | async as translation">
  <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                  <i class="fas fa-search"></i>
              </div>
              <!--end of col-->
              <div class="col">
                  <input (keyup)="resetSearchValue()" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" class="form-control form-control-lg form-control-borderless" placeholder="{{'searchForGifts' | translate: translation}}">
              </div>
              <!--end of col-->
              <div class="col-auto">
                  <button class="btn btn-lg btn-success" (click)="emitSearchValue()">{{'searchBtn' | translate: translation}}</button>
              </div>
              <!--end of col-->
          </div>
      </form>
  </div>
  <!--end of col-->
</div>
