<!--Card-->
<div class="card card-cascade card-ecommerce wider">
    <!--Card image-->
    <div
        class="view"
        [routerLink]="['/gifts/details/', gift.key]"
    >

        <img class="card-img-top" src="{{ gift.imageLink }}" alt="" />
        <div *ngIf="gift.discount > 0" class="ribbon"><span>{{ gift.discount }}% off</span></div>
            <div *ngIf="gift.count === 0" class="mask flex-center waves-effect waves-light rgba-grey-strong">
                <p class="red-text font-weight-bold px-4">SOLD OUT</p>
              </div>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body card-body-cascade text-center">
        <!--Category & Title-->
        <h5>{{ gift.brandName }}</h5>
        <h4 class="card-title">
            <strong
                ><a href="">{{ gift.giftName }}</a></strong
            >
        </h4>

        <div class="clearfix ml-5">
            <app-rating
                class="mr3"
                [rating]="gift.rating"
                [viewOnly]="true"
            ></app-rating>
        </div>

        <!--Card footer-->
        <div class="card-footer">
            <span class="float-left"
                ><strong [ngClass]="{'prevPrice': gift.discount > 0, 'mr-1': true}">{{ gift.cost }}</strong> <strong *ngIf="gift.discount > 0">{{ getDiscountValue(gift.discount, gift.cost) }}</strong>P</span
            >
            <span class="float-right">
                <a
                    data-toggle="tooltip"
                    data-placement="top"
                    *ngIf="isAdmin && !isFavorite"
                    (click)="onEdit()"
                    title="Edit Gift"
                    ><em class="fas fa-edit mr-3"></em
                ></a>
                <a
                    data-toggle="tooltip"
                    data-placement="top"
                    *ngIf="isAdmin || isFavorite"
                    (click)="onDelete()"
                    title="Delete Gift"
                    ><em class="fas fa-trash mr-3"></em
                ></a>
                <a
                    class="active"
                    data-toggle="tooltip"
                    data-placement="top"
                    *ngIf="!isAdmin && !isFavorite"
                    title="Add to favorites"
                    (click)="addToFavorites()"
                    ><em class="fas fa-heart"></em
                ></a>
            </span>
        </div>
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->
